.wrapper {
  height: var(--default-layout-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
  --border-radius: 92px;
  position: fixed;
}


.content {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2px;
}



.action {
  display: flex;
  align-items: center;
}


.action_btn{
  background-color: white;
  font-size: 1.2rem;
  color: #161823;
  padding: 4px 12px;
  cursor: pointer;
}


.user_avatar{
  width: 34px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}

.more_btn {
  font-size: 1.5rem;
  margin-left: 20px;
  background: transparent;
  margin-top: 5px;
}

.tooltip_upload{
  background-color: black;
  color: white;
}

// .menu_item{
//   width: 2650px;
// }
