.wrapper {
  height: var(--default-layout-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  width: 100%;
  --border-radius: 92px;
}

.wrapper:hover {
  box-shadow: 5px 5px 5px rgba(158, 26, 26, 0.12);
}

.content {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.search,
.search_result {
  width: 361px;
}
.search_result h4 {
  background-color: transparent;
}

.search_result {
  max-width: 100%;
}

.search_title {
  padding: 5px 12px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 8px;
  background-color: transparent; // đảm bảo không bị nền lạ
  color: #000;
}

.search {
  height: 46px;
  background-color: #92929233;
  border-radius: var(--border-radius);
  padding-left: -16px;
  display: flex;
  position: relative;

  input {
    color: #828282;
    font-size: 1rem;
    background-color: transparent;
    height: 100%;
    color: var(--black-color);
    flex: 1;
    margin-left: 15px;
    caret-color: rgb(143, 4, 4); //  màu thanh tìm kiếm nhấp nháy
  }
  // khi có nhập chữ vào ô input sẽ thay đổi màu của .search_btn
  input:not(:placeholder-shown) ~ .search_btn {
    color: rgb(22, 16, 16);
  }

  // khi ấn vào sẽ hiện border
  &:focus-within {
    border: 2px solid rgba(7, 7, 7, 0.12);
  }
}

.clear_btn,
.loading {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}

.search_btn {
  width: 52px;
  height: 100%;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  color: rgba(22, 24, 35, 0.34);
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
  &:active {
    color: rgb(236, 227, 229);
  }
}

.action {
  display: flex;
}

.more_btn {
  font-size: 1.5rem;
  margin-left: 20px;
  background: transparent;
  margin-top: 5px;
}

// .menu_item{
//   width: 2650px;
// }
