

.tooltipContainer {
  color: #333;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 6px;
  padding: 10px 14px;
  //   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
.loading_icon {
  position: absolute;
  right: 48px; // hoặc điều chỉnh lại cho phù hợp với layout của bạn
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
  pointer-events: none;
}

