.menu_list {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-height: 700px;
  .menu_item {
    margin-left: 0;
  }
}

.menu_scroll {
  overflow-y: auto;
}

.menu_item {
  width: 100%;
  justify-content: flex-start;
  border-radius: 0px;
  padding: 11px 16px;
  line-height: 18px;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}

// Header

.header {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px; 
  border-bottom: 1px solid #ccc;
}

.back_btn {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
}

.header_title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  pointer-events: none; // đảm bảo không bị click
}
