.menu_item {

  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px;
  transition: background-color ease-in-out 100ms;
  &.active {
    color: rgba(254, 44, 85, 1);
  }
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    border-radius: 4px;
  }
}

.title {
  margin-left: 10px;
}
